streamlit>=1.13.0
streamlit-webrtc>=0.47.0
assemblyai>=0.22.0
crewai>=0.28.0
langchain-openai>=0.1.0
python-dotenv>=1.0.0
av>=11.0.0
websocket-client>=1.6.0
websockets>=12.0
SpeechRecognition
pyaudio>=0.2.11
openai>=1.30.0
asyncio
numpy>=1.21.0
deep-translator>=1.11.0
word2number>=1.1
dateparser>=1.1.0
requests>=2.25.0
flask
flask_socketio

